.intro-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 0vh;
}

.info-container {
  position: rel;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: var(--info-bg);
  color: white;
  padding: 2rem 4rem 0rem 2rem;
  z-index: 9;
}

.clear-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.245);
}

.title {
  font-size: 3rem;
  font-weight: 500;
  margin: 3rem 0rem 0rem 0rem;
}

section {
  margin-top:4rem;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

p {
  font-size: 0.9rem;
  margin-left: 1rem;
  text-shadow: 1px 1px 1px rgb(138, 138, 138);
}

.links {
  margin: 2rem 0rem 0rem 1rem;
}

a:link {
  color:var(--accent-bg);
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
a:visited {
  color:var(--accent-bg);
  text-decoration: none;
}
a:active {
  color:var(--accent-bg);
  text-decoration: none;
}
a:hover {
  color:var(--accent-3);
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
