<div class="intro-container" [ngStyle]="!_mapActive ? 5 : 1">

  <div class="info-container">
    <div class="title">US Electric Charging Stations</div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem nostrum sapiente suscipit animi temporibus magnam voluptatibus. Accusamus, distinctio! Beatae minus incidunt ut hic, magni eligendi corrupti ea maiores facere itaque porro ratione cumque voluptates in doloribus nostrum animi non culpa expedita possimus. Facere unde, culpa blanditiis esse earum vero?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aut dolor incidunt dignissimos impedit omnis nam accusamus quasi est rem aperiam cumque officiis amet porro ut debitis sint dolore, atque mollitia a quis quae! Qui mollitia corrupti sequi officia ipsum aspernatur, dolore consectetur est sapiente ut odio labore doloremque ab similique molestias laborum fugit voluptates amet. Quaerat, neque ad blanditiis sint itaque illo, voluptates reiciendis placeat, laudantium consequuntur enim suscipit! Ea laudantium vero accusantium autem.
    </p>
  </div>

  <div class="clear-container">
    SOMTEHING CLEAR
  </div>


</div>
