.intro-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 0vh;
  background-color: rgba(245, 245, 245, 0.245);
}

.info-container {
  position: rel;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  width: 40%;
  min-width: 20rem;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: var(--info-bg);
  color: white;
  padding: 2rem 4rem 0rem 2rem;
  z-index: 9;
  border-radius: 0.1rem;
}

.clear-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;

}

.title {
  font-size: 3rem;
  font-weight: 500;
  margin: 3rem 0rem 0rem 0rem;
}

section {
  margin-top:1.5rem;
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

p {
  font-size: 1.1rem;
  font-weight: 200;
  margin-left: 1rem;
  text-shadow: 1px 1px 1px rgb(138, 138, 138);
}

.links {
  margin: 2rem 0rem 0rem 1rem;
}

a:link {
  color:var(--accent-bg);
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
a:visited {
  color:var(--accent-bg);
  text-decoration: none;
}
a:active {
  color:var(--accent-bg);
  text-decoration: none;
}
a:hover {
  color:var(--accent-3);
  text-decoration: none;
  transition: all ease-in-out 200ms;
}


.spy-observer-container {
  border: 1px solid hotpink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 40%;

}

.circle-cluster {
  border: 1px solid chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.section-circle {
  background-color: red;
  border: 0.15rem solid blue;
  border-radius: 10rem;
  height: 0.6rem;
  width: 0.6rem;
}

.paragraph-circle {
  background-color: rgba(0, 0, 0, 0.308);
  border: 0.124rem solid rgb(150, 150, 150);
  border-radius: 10rem;
  height: 0.4rem;
  width: 0.4rem;
  margin-left: 0.1rem;
}

.paragraph-circle-active {
  background-color: rgb(223, 0, 111);
  border: 0.125rem solid orange;
  border-radius: 10rem;
  height: 0.4rem;
  width: 0.4rem;
  margin-left: 0.1rem;
}
