.nav-container {
  background-color: #010f16;
  color: White;
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 2px 1px 2px #1a1a1a;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
  height: 1.8rem;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid rgb(16, 16, 16);
}

.sound-button {
  height: inherit;
  width: 2rem;
  margin-right: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sound-button img {
  height: 45%;
  filter:invert(0);
  transition: all 250ms ease-in-out;
}

.sound-button img:hover {
  filter:invert(0.35);
  transition: all 250ms ease-in-out;
}

.nav-link-layer {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1rem;
  z-index: 16;
  width: 90%;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  display: inline;
  padding: 0;
  margin-right: 1.5rem;
  cursor: pointer;
}

.gradient-overflow-container {
  height:inherit;
  width: 300px;
  position: relative;
  z-index: 12;
  overflow: hidden;
}


.animating-gradient {
  height: 24rem;
  width: 32rem;
  position: absolute;
  bottom: -12rem;
  left: -6rem;
  z-index: 13;
}


.dot-layer {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  transform: translate(0px, -5px);
  z-index: 14;
}

.dot {
  color: rgba(174, 174, 174, 0.523);
  padding:4px;
  font-size: 5px;
  height: 1px;
  line-height: 1px;
  animation: dot-animation 12s linear infinite;
}

@keyframes dot-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6) translateY(10px);

  }
  100% {
    transform: scale(1);
  }
}

.transition-layer {
  height: inherit;
  width: inherit;
  background: radial-gradient(circle, #010f16 0%, #010f1600 0%, #010f1600 0%, #010f1625 0%, #010f16 100%);
  position: absolute;
  z-index: 15;
}



