<div class="nav-container">
  <!-- <div class="animating-gradient" [ngStyle]="{'background-image': 'linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%)'}'"></div> -->
  <!-- <div class="animating-gradient-1" [ngStyle]="countObject"></div> -->

  <div class="gradient-overflow-container">
    <div class="animating-gradient" [ngStyle]="gradientObject"></div>
    <div class="dot-layer">
      <div class="dot" *ngFor="let i of dotArray(dotCount)">&#176;</div>
    </div>
    <div class="transition-layer"></div>
    <div class="nav-link-layer">
      <div class="sound-button"><img src="/assets/img/audio/{{soundImgName}}.png" (click)="soundToggle()"></div>
      <div>
        <ul>
          <ol (click)="toIntro()">INTRO</ol>
          <ol (click)="toMap()">MAP</ol>
          <!-- <ol (click)="heatToggle()">HEAT</ol> -->
        </ul>
      </div>
    </div>
  </div>
</div>
