
.filter-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 10%;
  right:0;
  z-index: 10;
  font-family: 'Barlow Condensed', sans-serif;
  }

.filter-pane-overflow-conatiner-open {
  overflow: hidden;
  height:32rem;
  width: fit-content;
  animation: overflow-open 1.5s linear;
}
@keyframes overflow-open {
  0% {
    width: 0rem;
    height: 32rem;
    transform: scale(0.7);
  }
  50% {
    width: 0rem;
    height: 32rem;
  }
  55% {
    width: 0rem;
    height: 32rem;
  }
  95%  {
    width: 18rem;
    height: 32rem;

  }
  100%  {
    width: 22rem;
    height: 32rem;
    transform: scale(1);
  }
}

.filter-pane-overflow-container-closed {
  height:32rem;
  width: 0rem;
  overflow: hidden;
  animation: overflow-closed 0.6s linear;
}

@keyframes overflow-closed {
  0% {
    width: 22rem;
    height: 32rem;
  }

  100%  {
    width: 0rem;
    height: 32rem;
    transform: scale(1);
  }
}

.filter-pane {
  background-color: var(--filter-bg);
  border-left: 1px solid rgb(0, 0, 0);
  height:fit-content;
  height:28rem;
  width: 17rem;
  padding: 2rem;
}

.option-title {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  margin: 1.2rem 0 0.3rem 0;
}

.option-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.filter-button {
  box-sizing: border-box;
  background-color: var(--filter-button);
  box-shadow: rgba(0, 0, 0, 0.335) 0px 2px 4px 0px inset;
  color: whitesmoke;
  font-size: 1.0rem;
  font-weight: 200;
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;
  margin: 0rem 0.5rem 0.5rem 0rem;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.filter-button:hover {
  filter: brightness(120%);
  background-color: var(--filter-button-hover);
  transition: all 0.15s ease-in;
}

.filter-button-inactive {
  box-sizing: border-box;
  background-color: var(--filter-button-inactive);
  color: whitesmoke;
  font-size: 1.0rem;
  font-weight: 200;
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;
  margin: 0rem 0.5rem 0.5rem 0rem;
  transition: all 0.15s ease-in;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.filter-button-inactive:hover {
  filter: brightness(120%);
  background-color: var(--filter-button-inactive-hover);
  transition: all 0.15s ease-in;
}

// NAVBURGER

.close-filter-burger {
  background-color: transparent;
  height: fit-content;
  margin: 0rem 1rem 1rem 0rem;
  transition: all 0.3s ease-in;
}

.open-filter-burger {
  background-color: red;
  background-color: var(--burger-bg);
  height: fit-content;
  margin: 0rem 1rem 1rem 0rem;
  transition: all 0.5s ease-in;
}

.nav-burger {
  height:1.6rem;
  width: 2.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .line-1-x {
    width: 70%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translateY(0.2rem);
    position: relative;
    z-index: -90;
    // transition: 0.8s ease-in-out;
    animation: line-1-horo 0.8s linear;
  }

  @keyframes line-1-horo {
    0%{
      transform: rotate(45deg) translateY(1rem);
    }
    60% {
      transform: translateY(0rem);
    }
    100% {
      transform: translateY(0rem) rotate(0.2rem);
    }

  }
  .line-2-x {
    width: 65%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    z-index: -90;
    animation: line-2-anim 2s linear;
  }

  @keyframes line-2-anim {
    0% {
      background-color: transparent;
    }
    40% {
      background-color: transparent;
    }
    100% {
      width: 65%;
      height: 1px;
      background-color: var(--burger-color);
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      position: relative;
      z-index: -90;
    }

  }
  .line-3-x {
    width: 70%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translateY(-0.2rem);
    position: relative;
    z-index: -90;
    transition: 0.8s ease-in-out;
  }

  .line-1 {
    width: 60%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    top:36%;
    transform: rotate(45deg) translateY(0rem);
    position: relative;
    z-index: -90;
    transition: 0.8s ease-in-out;
  }
  .line-2 {
    width: 30.8rem;
    height: 1px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px,;
    transform: translate(-19.82rem,17.3rem) rotate(-90deg);
    animation: line-2-expand-anim 1.5s linear;
  }

  @keyframes line-2-expand-anim {
    0% {
      background-color: var(--burger-color);
      transform: rotate(0deg) translateY(0rem);
      width:100%;
    }
    40% {
      width: 1rem;
      transform: rotate(0deg) translate(-19.82rem,0rem);
    }
    50%{
      width: 0.1rem;
      background-color: #79f1a56f;
      transform: rotate(0deg) translate(-19.82rem,0rem);
    }
    70% {
      width: 0.1rem;
      background-color: #0e5badb6;
      transform: rotate(0deg) translate(-19.82rem,10rem);
    }
    71% {
      width: 0.1rem;
      background-color: #fc31ff37;
      transform: rotate(-90deg) translate(-20rem,-19.82rem);
    }
    80% {
      background-color: #0c54a0d0;
      height: 2px;
    }
    82% {
      width: 10.4rem;
      height: 2px;
      background-color: var(--filter-bg);
      transform: rotate(-90deg) translate(-15rem,-19.82rem);
    }
    90% {
      background-color: rgba(136, 84, 119, 0.38);
    }
    100% {
      width: 33.8rem;
      height: 6px;
      transform: rotate(-90deg) translate(-17rem,-18.5rem) ;
      background-color: var(--filter-bg);
    }
  }


  .line-3 {
    width: 60%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    bottom:28%;
    transform: rotate(-45deg) translateY(0rem);
    position: relative;
    z-index: -90;
    animation: line-3-anim 0.5s linear;
  }

  @keyframes line-3-anim {
    from {
      transform: rotate(0deg) translateY(0rem);
  }
    to {
      transform: rotate(-225deg) translateY(0rem);
    }
  }
}

.nav-burger:hover .line-1 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-burger:hover .line-2 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-burger:hover .line-3 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
