
<div class="filter-container">
  <div class="open-filter-container">
    <div class="open-filter-burger">
      <div class="nav-burger" (click)="setBurgerClass($event)">
        <div [ngClass]="burgerClasses[0]"  id="burger-line-1"></div>
        <div [ngClass]="burgerClasses[1]"  id="burger-line-2"></div>
        <div [ngClass]="burgerClasses[2]"  id="burger-line-3"></div>
      </div>
    </div>
    <!-- <div class="open-filter-icon"><img src="/assets/img/map/icons8-full-page-view-80.png" (click)="filterToggle()"></div> -->
  </div>
  <div class="filter-pane">
    <div class="filter-options-container">

      <div class="filter-section">
        <div class="option-title">
          Connector
        </div>

        <div class="option-button-container">
          <div class="filter-button" *ngFor="let option of connectorOptions"
          (click)="onFilterButtonClick(option)">
            {{option}}
          </div>



        </div>
        <!-- <div class="option-dropdown-container">
          <div (mouseleave)="showDropDownConnector = false">
            <button class="drop-toggle btn flat" (click)="showDropDownConnector=!showDropDownConnector">
                <span>Select</span>
                <i class="fa fa-angle-down"></i>
            </button>
            <div class="drop-show" *ngIf="showDropDownConnector">
                <label *ngFor="let option of connectorOptions">
                    <input class="checkbox-custom" type="checkbox" [(ngModel)]="option.checked" checked
                        (change)="getSelectedValue(option.checked,option.viewName)" />
                    <span>{{option.viewName}}</span>
                </label>
            </div>
          </div>
        </div> -->
      </div>

      <div class="filter-section">
        <div class="option-title">
          Network
        </div>
        <div class="option-button-container">
          <div class="filter-button" *ngFor="let option of networkOptions"
          (click)="onFilterButtonClick(option)">
            {{option}}
          </div>



        </div>
        <!-- <div class="option-dropdown-container">
          <div (mouseleave)="showDropDownNetwork = false">
            <button class="drop-toggle btn flat" (click)="showDropDownNetwork=!showDropDownNetwork">
                <span>Select</span>
                <i class="fa fa-angle-down"></i>
            </button>
            <div class="drop-show" *ngIf="showDropDownNetwork">
              <label *ngFor="let option of networkOptions">
                  <input class="checkbox-custom"  type="checkbox" [(ngModel)]="option.checked" checked
                      (change)="getSelectedValue(option.checked,option.viewName)" />
                  <span>{{option.viewName}}</span>
              </label>
            </div>
          </div>
        </div> -->
      </div>

      <div class="filter-section">
        <div class="option-title">
          Cost-stuff
        </div>
        <div class="option-button-container">
          <div class="filter-button" *ngFor="let option of costOptions"
          (click)="onFilterButtonClick(option)">
            {{option}}
          </div>



        </div>
        <!-- <div class="option-dropdown-container">
          <div (mouseleave)="showDropDownCost = false">
            <button class="drop-toggle btn flat" (click)="showDropDownCost=!showDropDownCost">
                <span>Select</span>
                <i class="fa fa-angle-down"></i>
            </button>
            <div class="drop-show" *ngIf="showDropDownCost">
                <label *ngFor="let option of costOptions">
                    <input class="checkbox-custom"  type="checkbox" [(ngModel)]="option.checked" checked
                        (change)="getSelectedValue(option.checked,option.viewName)" />
                    <span>{{option.viewName}}</span>
                </label>
            </div>
          </div>
        </div> -->

      </div>

    </div>
  </div>


</div>
