
.filter-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 10%;
  right:0;
  z-index: 10;

  // .open-filter-icon {
  //   // background-color: yellow;
  //   height: fit-content;
  //   border: 1px solid blue;
  //   margin-right: 3rem;
  //   img {
  //     height: 3rem;
  //   }

  }

  .filter-pane {
    background-color: rgba(9, 18, 20, 0.874);
    border-left: 1px solid rgb(0, 0, 0);
    height:fit-content;
    width: fit-content;
    padding: 2rem;
    text-shadow: 1px 1px 1px rgb(96, 96, 96);
  }




// DROPDOWNS

.option-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.drop-toggle{
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  border: 1px solid #ccc;
  width: 233px;
  text-align: left;
}
.drop-toggle i{
  float:right;
}
.drop-show {
  padding: 4px;
  width: 222px;
  background-color: #FFF;
  border: 1px solid #BABABA;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.15);
  -moz-box-shadow: 0 6px 10px rgba(0,0,0,.15);
  box-shadow: 0 6px 10px rgba(0,0,0,.15);
  margin-left: 1px;
}
.drop-show label{
  display:block;
  font-size:15px;
  cursor: pointer;
}
.drop-show label input{
  vertical-align: top;
}
.drop-show label span{
  display:inline-block;
}



// NAVBURGER

.open-filter-burger {
  // background-color: yellow;
  height: fit-content;
  border: 1px solid blue;
  margin: 0rem 1rem 1rem 0rem;
  // img {
  //   height: 3rem;
  // }
}

.nav-burger {
  // border: 1px solid red;
  height:1.6rem;
  width: 2.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;




  .line-1 {
    width: 70%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translateY(0.2rem);
    position: relative;
    z-index: -90;
    transition: 0.8s ease-in-out;
  }
  .line-2 {
    width: 65%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    z-index: -90;
    transition: 1s ease-in-out;
  }
  .line-3 {
    width: 70%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translateY(-0.2rem);
    position: relative;
    z-index: -90;
    transition: 0.8s ease-in-out;
  }

  .line-1-x {
    width: 60%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    top:36%;
    transform: rotate(45deg) translateY(0rem);
    position: relative;
    z-index: -90;
    transition: 0.8s ease-in-out;
  }
  .line-2-x {
    width: 0%;
    height: 0px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px,;
    transform: translate(2.5rem, 0rem);
    position: relative;
    z-index: -90;
    transition: 1.0s ease-in-out;
  }
  .line-3-x {
    width: 60%;
    height: 1px;
    background-color: var(--burger-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    bottom:28%;
    transform: rotate(-45deg) translateY(0rem);
    position: relative;
    z-index: -90;
    // transition: 0.8s ease-in-out;
    animation: line-3-anim 1s linear;
  }

  @keyframes line-3-anim {
    from {
      transform: rotate(0deg) translateY(0rem);
  }
    to {
      transform: rotate(-225deg) translateY(0rem);
    }
  }
}

.nav-burger:hover .line-1 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-burger:hover .line-2 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-burger:hover .line-3 {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
