
<div class="filter-container">
  <div class="open-filter-container">
    <div [ngClass]="burgerContainer">
      <div class="nav-burger" (click)="setBurgerClass($event)">
        <div [ngClass]="burgerClasses[0]"  id="burger-line-1"></div>
        <div [ngClass]="burgerClasses[1]"  id="burger-line-2"></div>
        <div [ngClass]="burgerClasses[2]"  id="burger-line-3"></div>
      </div>
    </div>
  </div>

  <div [ngClass]="filterPaneOverflow">
    <div class="filter-pane" *ngIf="_mapView">
      <div class="filter-options-container">

        <div class="filter-section">
          <div class="option-title">
            Connector
          </div>
          <div class="option-button-container">
            <app-filter-button
              *ngFor="let option of connectorOptions"
              (click)="onFilterButtonClick(option)"
              [filterName]="option"
              ></app-filter-button>
          </div>
        </div>

        <div class="filter-section">
          <div class="option-title">
            Network
          </div>
          <div class="option-button-container">
            <app-filter-button
            *ngFor="let option of networkOptions"
            (click)="onFilterButtonClick(option)"
            [filterName]="option"
            ></app-filter-button>
          </div>
        </div>

        <div class="filter-section">
          <div class="option-title">
            Cost-stuff
          </div>
          <div class="option-button-container">
            <app-filter-button
            *ngFor="let option of costOptions"
            (click)="onFilterButtonClick(option)"
            [filterName]="option"
            ></app-filter-button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
