/* You can add global styles to this file, and also import other style files */
:root {
  --dark-bg:#000d23;
  --accent-bg:#0f84a5;
  --accent-1:#90e1ff;
  --accent-2:#f89de1;
  --accent-3:#77df94;
  --map-icon-center:rgb(22, 53, 53);
  --map-icon-border: rgb(173, 241, 255);
  --map-tooltip-bg: rgba(5, 13, 13, 0.987);
  --map-tooltip-font: rgb(255, 255, 255);
  --map-tooltip-border:rgba(155, 247, 255, 0.549);
  --map-heatgradient-max:#ff0241;
  --burger-color:rgb(240, 240, 240);
  --filter-bg:#091214df;
  --info-bg: #000a0cf8;
}

body {
  margin: 0 auto ;
  padding: 0;
  // font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Dosis', sans-serif;
  // font-family: 'Titillium Web', sans-serif;

}
