.map-parent {
  height: calc(96vh);
  position: fixed;
  width:100%;
}


.map {
  // height: calc(96vh);
  height: 100%;
  width:100%;

}

.map-no-blur {
  position: absolute;
  z-index:1;
  filter: blur(0px);
  animation: map-blur-away-anim 1.2s ease-in-out;

}

.map-blur {
  position: absolute;
  z-index:-1;
  filter: blur(8px);
  background-size: contain;
  transform: scale(1.06);
  animation: map-to-blur-anim 1.5s  ease-in-out;
}

@keyframes map-blur-away-anim {
  from {
    filter: blur(8px);
    transform: scale(1.06);
  }
  to {
    filter: blur(0px);
    transform: scale(1.0);
  }
}

@keyframes map-to-blur-anim {
  from {
    filter: blur(0px);
    transform: scale(1.0);
  }
  to {
    filter: blur(8px);
    transform: scale(1.06);
  }
}



.inactive-map {
  background-color: rgba(8, 14, 15, 0.903);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:10;
}

.active-map {
  background-color: rgba(8, 14, 15, 0.903);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:-10;
}

// leaflet tooltip bg pane
.leaflet-popup-content-wrapper {
  background-color: var(--map-tooltip-bg);
  color: var(--map-tooltip-font);
  // font-family: 'Dosis', sans-serif;
  // font-family: 'Titillium Web', sans-serif;
  font-family: 'Barlow Condensed', sans-serif;;
  font-size: 1rem;
  font-weight: 200;
  border: 2px solid var(--map-tooltip-border);
  border-radius: 2px;
  width: fit-content;
  height: fit-content;
  padding:0.8rem 1.5rem 0.5rem 1.5rem;
  transform: translate(0rem, 2.5rem);
}

.leaflet-popup-tip {
  background-color: red;
  padding: 0;
  width: 0px;
  height: 0px;
}

// .leaflet-container a.leaflet-popup-close-button {
// }

// clustericon!
.leaflet-div-icon {
  background-color: var(--map-icon-center);
  border: 3px solid var(--map-icon-border);
  border-radius: 10rem;
  padding: 0.5rem;
  // font-size: 1rem;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
  color: rgb(255, 255, 255);


}

// .leaflet-marker-icon {

// }

